@font-face{
	font-family: caviar;
	font-display: swap;
	src: url("../fonts/caviar-dreams.woff2") format("woff2"), url("../fonts/caviar-dreams.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
