$minwidth: 320px;
$maxWidthContainer: 1026px;
$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$white: #fff;
$bgc: #F5F8FF;
$blue: #5E81FE;
$darkblue: #3D4F9F;
$grey: #697CA6;
$darkgrey: #D2E1FF;

$fontFamily: 'Quicksand';
$roboto: 'Roboto'
