.about {
    padding: 140px 0px 170px 0px;
    @media (max-width: $md3) {
        padding: 70px 0;
    }
    @media (max-width: $md4) {
        padding: 40px 0;
    }
    &__container {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    &__info {
        margin: 0px 0px 20px 0px;
    }
    &__title {
        margin: 0px 0px 90px 0px;
        font-weight: 500;
        font-size: 24px;
        line-height: calc(30 / 24 * 100%);
        color: $darkblue;
        @media (max-width: $md3) {
            margin: 0px 0px 50px 0px;
        }
        @media (max-width: $md4) {
            margin: 0px 0px 40px 0px;
        }
    }
    &__columns {
        text-align: center;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(4, auto);
        margin: 0px 0px 90px 0px;
        column-gap: 70px;
        @media (max-width: $md3) {
            margin: 0px 0px 70px 0px;
            column-gap: 40px;
        }
        @media (max-width: $md4) {
            margin: 0px 0px 50px 0px;
            grid-template-columns: repeat(2, auto);
            column-gap: 60px;
            row-gap: 40px;
        }
    }
    &__column {
    }
    &__buttons {
    }
}
.column-about {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 140px;
    &__preview {
        margin: 0px 0px 30px 0px;
        display: inline-flex;
        width: 69px;
        height: 69px;
        background-color: $bgc;
        border-radius: 50%;
        img {
            margin: auto;
        }
        @media (max-width:$md3){
            margin: 0px 0px 20px 0px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 14px;
        color: #4074f8;
        line-height: 1.5;
        margin: 0px 0px 30px 0px;
        @media (max-width:$md3){
            margin: 0px 0px 20px 0px;
        }
    }
    &__text {
        font-family: $fontFamily;
        font-weight: 600;
        font-size: 11px;
        line-height: calc(19 / 11 * 100%);
    }
}
.buttons-about {
    display: flex;
    justify-content: center;
    align-items: center;
    &__read {
    }
    &__text {
        font-weight: 600;
        font-size: 11px;
        line-height: calc(19 / 11 * 100%);
        color: #adb3cb;
        span {
            margin: 0px 17px 0px 17px;
            @media (max-width:$md4){
                margin: 0px 10px;
            }
        }
        margin: 0px 17px 0px 17px;
    }
    &__get {
    }
}
