.app {
    position: relative;
    padding: 170px 0px;
    background-color: $bgc;
    @media (max-width: $md3) {
        padding: 70px 0px;
    }
    @media (max-width: $md4) {
        padding: 30px 0;
    }
    &__container {
    }
    &__body {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        max-width: 410px;
        @media (max-width: $md3) {
            max-width: 330px;
        }
        @media (max-width: 610px) {
            max-width: 270px;
        }
    }
    &__images {
        margin: 0px 0px 0px 55px;
        position: relative;
        // width: 100%;
        height: 100%;
        @media (max-width: $md3) {
            margin: 0px 0px 0px 30px;
        }
        @media (max-width: $md4) {
            margin: 0px 0px 0px 10px;
        }
    }
}
.image {
    &__reminder {
        border-radius: 15px;
        position: absolute;
        z-index: 7;
        bottom: 30;
        @media (max-width: $md3) {
            position: relative;
            bottom: 0;
        }
    }
    &__desktop {
        position: relative;
        z-index: 6;
        top: 0;
        left: 70;
        @media (max-width: $md3) {
            display: none;
        }
    }
    &__event {
        border-radius: 15px;
        position: absolute;
        z-index: 7;
        bottom: -50;
        right: -25;
        @media (max-width: $md3) {
            bottom: 0;
            top: 30;
            left: -145;
        }
        @media (max-width: $md4) {
            display: none;
        }
    }
}
.content-app {
    &__info {
        margin-top: 30px;
        &:not(:last-child) {
            margin-bottom: 25px;
        }
        @media (max-width: $md3) {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
    &__title {
        font-size: 36px;
        line-height: calc(45 / 36 * 100%);
        &:not(:last-child) {
            margin: 0px 0px 25px 0px;
        }
        @media (max-width: $md3) {
            font-size: 33px;
            &:not(:last-child) {
                margin: 0px 0px 15px 0px;
            }
        }
        @media (max-width: $md4) {
            margin: 0px 0px 10px 0px;
        }
    }
    &__text {
        &:not(:last-child) {
            margin: 0px 0px 45px 0px;
        }
        @media (max-width: $md3) {
            &:not(:last-child) {
                margin: 0px 0px 30px 0px;
            }
        }
        @media (max-width: $md4) {
            &:not(:last-child) {
                margin: 0px 0px 15px 0px;
            }
        }
    }
    &__buttons {
    }
}
.buttons-app {
    align-items: center;
    text-align: center;
    display: flex;
}
.button-blue {
    transition: all 0.3s ease 0s;
    justify-content: center;
    padding: 13px 15px;
    flex: 0 0 130px;
    border: 1px solid #4c85ff;
    border-radius: 2px 0px 0px 2px;
    display: flex;
    background-color: #4c85ff;
    box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
    @media (max-width: $md4) {
        flex: 0 0 100px;
    }
    @media (min-width: $md3) {
        &:hover {
            background-color: #6694f6;
            border: 1px solid #6694f6;
        }
    }
    &__text {
        font-weight: 700;
        font-size: 13px;
        line-height: calc(16 / 13 * 100%);
        color: #fff;
        margin: 0px 7px 0px 0px;
        @media (max-width: $md4) {
            font-weight: 500;
            font-size: 10px;
        }
    }
}
.button-grey {
    flex: 0 0 130px;
    border-radius: 0px 2px 2px 0px;
    @media (max-width: $md4) {
        flex: 0 0 100px;
    }
    &__text {
        font-weight: 700;
        font-size: 13px;
        line-height: calc(16 / 13 * 100%);
        @media (max-width: $md4) {
            font-weight: 500;
            font-size: 10px;
        }
    }
}
