.blog {
    background-color: $bgc;
    padding-top: 100px;
    padding-bottom: 210px;
    &__container {
    }
    &__info {
        text-align: center;
        margin: 0px 0px 20px 0px;
    }
    &__title {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        line-height: calc(30 / 24 * 100%);
        margin: 0px 0px 90px 0px;
    }
    &__swiper {
    }
}
.swiper {
}
.swiper-container {
}
.swiper-blog {
    &__body {
        margin: 0 auto;
        background-color: #ffffff;
        border: 1px solid #d8e3fe;
        box-shadow: 0px 15px 50px #eff4ff;
        max-width: 950px;
    }
    &__items {
        padding: 65px 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__pictures {
    }
    &__content {
        max-width: 410px;
        padding: 0 0 0 10px;
    }
}
.blog-pictures {
    display: grid;
    gap: 13px;
    grid-auto-flow: column;
    grid-template-areas:
        'A B'
        'A C';
    &__desk {
        width: 267px;
        height: 267px;
        grid-area: A;
        border-radius: 5px;
    }
    &__picnic {
        width: 127px;
        height: 127px;
        grid-area: B;
        background: linear-gradient(
            rgba(255, 53, 53, 0.48) 14.02%,
            rgba(255, 179, 90, 0) 68%
        );
        border-radius: 5px;
    }
    &__callboard {
        border-radius: 5px;
        width: 127px;
        height: 127px;
        grid-area: C;
    }
}
.content-blog {
    &__title {
        font-weight: 400;
        font-size: 36px;
        line-height: calc(45 / 36 * 100%);
        margin: 0px 0px 30px 0px;
    }
    &__text {
        line-height: calc(25 / 15 * 100%);
        margin: 0px 0px 30px 0px;
    }
    &__links {
    }
    &__read {
    }
    &__add {
        margin: 0px 0px 0px 20px;
        font-weight: 700;
        font-size: 13px;
        line-height: calc(16 / 16 * 100%);
        color: #a6b6da;
    }
}
.btn {
    display: inline-flex;
    &__blue {
    }
}
