.header {
    padding-top: rem(20);
    padding-bottom: rem(20);
    &__container {
        display: grid;
        grid-template-columns: rem(30) 1fr;
        align-items: center;
    }
    &__logo {
    }
    &__body {
        display: flex;
        align-items: center;
        gap: rem(15);
    }
    &__menu {
        flex: 1 1 auto;
    }
    &__contacts {
    }
}
.actions-header {
    display: flex;
    @include adaptiveValue('gap', 45, 15);
    align-items: center;
    &__items {
        display: flex;
        @include adaptiveValue('gap', 35, 20);
        @media (max-width: $mobileSmall) {
            display: inline-flex;
            @include adaptiveValue('padding-top', 40, 20);
            @include adaptiveValue('gap', 50, 35);
        }
    }
    &__item {
    }
    &__button {
    }
}
.menu {
    @include adaptiveValue('margin-left', 70, 20);
    &__icon {
    }
    &__body {
        @media (max-width: $mobile) {
            position: fixed;
            overflow: auto;
            width: 100%;
            height: 100%;
            z-index: 50;
            text-align: center;
            top: 0;
            right: -100%;
            background-color: #fff;
            padding: rem(90) rem(15) rem(30) rem(15);
            transition: all 0.3s ease 0s;
            .menu-open & {
                transition: all 0.3s ease 0s;
                text-align: center;
                display: block;
                z-index: 50;
                position: fixed;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: #fff;
                padding: rem(90) rem(15) rem(30) rem(15);
            }
        }
    }
    &__list {
        display: flex;
        @include adaptiveValue('gap', 40, 20);
        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }
    &__item {
    }
    &__link {
        color: #697ca6;
        text-shadow: 0px 0px 5px #e6e6e6;
        font-size: rem(12);
        line-height: math.div(15, 12);
        letter-spacing: 0.05em;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $blue;
            }
        }
        @media (max-width: $mobile) {
            font-size: rem(36);
        }
    }
}
.icon-menu {
    display: none;
    @media (max-width: $mobile) {
        display: block;
        position: relative;
        width: rem(30);
        height: rem(18);
        cursor: pointer;
        z-index: 50;
        span,
        &::before,
        &::after {
            content: '';
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: $blue;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: calc(50% - rem(1));
        }
        .menu-open & {
            span {
                width: 0;
            }
            &::before,
            &::after {
            }
            &::before {
                top: calc(50% - rem(1));
                transform: rotate(-45deg);
            }
            &::after {
                bottom: calc(50% - rem(1));
                transform: rotate(45deg);
            }
        }
    }
}
#nav {
    padding: 10px 0;
    border-bottom: 1px solid #d8e3fe;
    &.fixed-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        background-color: #fff;
    }
}
