.help {
    border-top: 1px solid #d8e3fe;
    padding: 160px 0;
    @media (max-width: $md3) {
        padding: 70px 0;
    }
    &__container {
    }
    &__info {
        text-align: center;
        margin: 0px 0px 20px 0px;
    }
    &__title {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        line-height: calc(30 / 24 * 100%);
        margin: 0px 0px 50px 0px;
        @media (max-width: $md3) {
            margin: 0px 0px 30px 0px;
        }
    }
    &__list {
    }
    &__dropdown-menu {
        margin: 0 auto;
        max-width: 740px;
    }
}
.menu-dropdown {
    &__link {
        padding: 20px 0;
        border-bottom: 1px solid #d8e3fe;
    }
    &__preview {
        cursor: pointer;
        display: flex;
        align-items: center;
        text-align: center;
        margin-left: 25px;
        &._open {
            margin-bottom: 15px;
        }
    }
    &__arrow {
        position: relative;
        transform: scale(var(--ggs, 1));
        width: 22px;
        height: 22px;
        border: 2px solid transparent;
        border-radius: 100px;
        &::after {
            content: '';
            position: absolute;
            transition: all 0.3s ease 0s;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid #8e96b7;
            border-right: 2px solid #8e96b7;
            transform: rotate(45deg);
            left: 4px;
            top: 2px;
        }
        &._active {
            &::after {
                transition: all 0.3s ease 0s;
                transform: rotate(225deg);
            }
        }
    }
    &__title {
        &:not(:first-child) {
            margin-left: 25px;
        }
        transition: color 0.3s ease 0s;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: #8e96b7;
        text-align: left;
        &._active {
            font-weight: 700;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: 0.03em;
            color: #495274;
        }
    }
    &__content {
        padding: 0 20px;
        display: none;
        transition: all 0.5s ease 0s;
        align-items: center;
        justify-content: flex-end;
        &._active {
            transition: all 0.5s ease 0s;
            display: flex;
            gap: 60px;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        letter-spacing: 0.03em;
        max-width: 410px;
        line-height: calc(27 / 14 * 100%);
        letter-spacing: 0.03em;
        color: #8d96bd;
    }
    &__button {
        flex: 0 0 160px;
        transition: background-color 0.3s ease 0s;
        display: inline-flex;
        text-align: center;
        justify-content: center;
        background-color: #e8ecf4;
        border-radius: 2px;
        padding: 15px;
        font-weight: 500;
        font-size: 13px;
        line-height: calc(16 / 13 * 100%);
        color: #7382a3;
        &:hover {
            background-color: #d1d6dd;
        }
    }
}
