.newsletter {
    padding: 120px 0;
    border-top: 1px solid #d8e3fe;
    @media (max-width: $md3) {
        padding: 90px 0;
    }
    @media (max-width: $md4) {
        padding: 50px 0;
    }
    &__container {
        max-width: 958px;
        padding: 0 35px;
        margin: 0 auto;
    }
    &__body {
        align-items: center;
        display: flex;
        @media (max-width: $md3) {
            align-items: stretch;
        }
        @media (max-width: $md4) {
            flex-wrap: wrap;
        }
    }
    &__content {
        @media (max-width: $md2) {
            margin: 0px 0px 20px 0px;
        }
    }
    &__buttons {
        justify-content: flex-end;
        margin: 0px 0px 0px 10px;
        @media (max-width: $md3) {
            justify-content: flex-start;
        }
        @media (max-width: $md4) {
            margin: 0;
        }
    }
}
.content-newsletter {
    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: calc(22 / 18 * 100%);
        color: $darkblue;
        margin: 0px 0px 20px 0px;
    }
    &__text {
        max-width: 330px;
        font-family: $roboto;
        line-height: calc(27 / 14 * 100%);
        letter-spacing: 0.03em;
        color: #8d96bd;
    }
}
.button-newsletter {
    display: flex;
    width: 100%;
    @media (max-width: $md3) {
        flex-direction: column;
    }
    @media (max-width: $md4) {
        flex-direction: row;
    }
    &__email {
        width: 280px;
        height: 60px;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #7a85ad;
        background: #efeff7;
        border-radius: 5px;
        padding: 0px 0px 0px 20px;
        @media (max-width: $md3) {
            width: 90%;
        }
        @media (max-width: $md4) {
            width: 70%;
        }
    }
    &__save {
        margin: 0px 0px 0px 15px;
        transition: all 0.3s ease 0s;
        max-height: 60px;
        background: #4d6ce1;
        box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
        border-radius: 5px;
        padding: 22px 62px;
        cursor: pointer;
        &:hover {
            transform: scale(1.05);
        }
        @media (max-width: $md3) {
            margin: 10px 0px 0px 0px;
            justify-content: right;
            width: 50%;
        }
        @media (max-width: $md4) {
            padding: 0;
            margin: 0 0 0 10px;
            width: 30%;
        }
        span {
            font-weight: 700;
            font-size: 13px;
            line-height: 16px;
            color: #ffffff;
        }
    }
}
