.newsletter {
    padding: 120px 0;
    &__container {
        max-width: 958px;
        padding: 0 35px;
        margin: 0 auto;
    }
    &__body {
        align-items: center;
        justify-content: space-between;
        display: flex;
        @media (max-width: $md2) {
            // flex-wrap: wrap;
        }
    }
    &__content {
        @media (max-width: $md2) {
            margin: 0px 0px 20px 0px;
        }
    }
    &__buttons {
        margin: 0px 0px 0px 10px;
        display: flex;
        @media (max-width: $md2) {
            // flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
        }
    }
}
.content-newsletter {
    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: calc(22 / 18 * 100%);
        color: $darkblue;
        margin: 0px 0px 20px 0px;
    }
    &__text {
        max-width: 330px;
        font-family: $roboto;
        line-height: calc(27 / 14 * 100%);
        letter-spacing: 0.03em;
        color: #8d96bd;
    }
}
.button-newsletter {
    &__email {
        width: 280px;
        height: 60px;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #7a85ad;
        background: #efeff7;
        border-radius: 5px;
        padding: 0px 0px 0px 20px;
    }
    &__save {
        max-height: 60px;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #ffffff;
        background: #4d6ce1;
        box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
        border-radius: 5px;
        padding: 22px 62px;
        cursor: pointer;
        @media (min-width: $md2) {
            &:not(:first-child) {
                margin: 0px 0px 0px 15px;
            }
        }
        @media (max-width: $md2) {
            justify-self: flex-end;
            align-self: flex-end;
        }
    }
}
