.sponsors {
    padding-top: 60px;
    padding-bottom: 60px;
    @media (max-width: $md3) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @media (max-width: $md4) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__container {
    }
    &__items {
        max-width: 880px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(5, auto);
        align-items: center;
        justify-content: space-between;
        @media (max-width: $md3) {
            grid-template-columns: repeat(3, auto);
            column-gap: 20px;
            row-gap: 40px;
        }
        @media (max-width: $md4) {
            column-gap: 80px;
            justify-content: center;
            grid-template-columns: repeat(2, auto);
        }
    }
    &__item {
        img {
            max-width: 100%;
        }
    }
}
