.users {
    &__container {
    }
    &__items {
        display: flex;
        align-items: stretch;
        justify-content: center;
    }
}
.item-customers {
    background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
    width: 100%;
    &__content {
        padding: 70px 90px 70px 10px;
        text-align: right;
        @media (max-width: $md3) {
            padding: 50px 70px 50px 10px;
        }
        @media (max-width: $md4) {
            padding: 30px;
        }
    }
    &__image {
        margin: 0px 0px 20px 0px;
        @media (max-width: $md3) {
            margin: 0px 0px 15px 0px;
        }
    }
    &__percents {
        margin: 0px 0px 20px 0px;
        font-weight: 400;
        font-size: 48px;
        line-height: calc(55 / 45 * 100%);
        letter-spacing: 0.03em;
        color: #fff;
        @media (max-width: $md3) {
            margin: 0px 0px 15px 0px;
            font-size: 44px;
        }
        @media (max-width: $md4) {
            font-size: 40px;
        }
    }
    &__text {
        display: inline-flex;
        max-width: 260px;
        font-weight: 500;
        font-size: 18px;
        line-height: calc(23 / 18 * 100%);
        letter-spacing: 0.03em;
        color: #fff;
        @media (max-width: $md3) {
            font-size: 16px;
        }
        @media (max-width: $md4) {
            font-size: 14px;
        }
    }
}
.item-users {
    background: linear-gradient(101.48deg, #e9efff 41.56%, #e0e9ff 81.53%);
    width: 100%;
    &__content {
        padding: 70px 10px 70px 90px;
        @media (max-width: $md3) {
            padding: 50px 10px 50px 70px;
        }
        @media (max-width: $md4) {
            padding: 30px;
        }
    }
    &__image {
        @extend .item-customers__image;
    }
    &__number {
        @extend .item-customers__percents;
        color: #5e80ff;
    }
    &__text {
        @extend .item-customers__text;
        color: #5e80ff;
    }
}
