@import './libs/swiper.scss';

@import './base/swiper.scss';
@import './base/preloader.scss';
@import './base/ui.scss';

@import './base/form/forms.scss';

.info {
    font-family: $roboto;
    font-weight: 500;
    font-size: rem(10);
    line-height: math.div(12, 10);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $darkblue;
}
.text {
    font-family: $roboto;
    font-size: rem(15);
    line-height: math.div(29 , 15);
    letter-spacing: 0.03em;
    color: #8d96bd;
    // @include adaptiveValue("font-size", 15, 13);
}
.title {
    color: $darkblue;
    span {
        font-weight: 500;
    }
}
