.page {
    &__main-block {
    }
    &__brands {
    }
    &__app {
    }
    &__users {
    }
    &__blog {
    }
    &__testimonials {
    }
    &__help {
    }
    &__getstarted {
    }
    &__newsletter {
    }
}

//!==================================================//
.main-block {
    &__slider {
        position: relative;
    }
    &__wrapper {
    }
    &__slide {
        overflow: hidden;
    }
    &__controll {
    }
}
.slide-main-block {
    height: auto;
    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        @include adaptiveValue('padding-top', 90, 70);
        @include adaptiveValue('padding-bottom', 210, 180);
    }
    &__info {
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }
    &__title {
        font-weight: 300;
        @include adaptiveValue('font-size', 48, 34);
        line-height: math.div(55, 48);
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 25, 16);
        }
    }
    &__text {
        font-family: $roboto;
        font-size: rem(15);
        line-height: math.div(29, 15);
        letter-spacing: 0.03em;
        color: #8d96bd;
        max-width: 500px;
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 20, 16);
        }
    }
    &__button {
        width: rem(52);
        height: rem(52);
        border-radius: 50%;
        background-color: #fff;
    }
    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &__background-ibg {
    }
    &__decor {
    }
}
.controll-main-block {
    &__dotts {
        &.swiper-pagination-bullets {
            bottom: 30px;
        }
    }
}
.decor-main-block {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &__item {
        position: absolute;
        @media (max-width: $mobile) {
            opacity: 0.7;
        }
        &_1 {
            top: percent(175, 570);
            left: rem(-75);
        }
        &_2 {
            top: percent(92, 570);
            left: percent(253, 1440);
        }
        &_3 {
            top: percent(386, 570);
            left: percent(307, 1440);
        }
        &_4 {
            top: percent(398, 570);
            left: percent(253, 1440);
        }
        &_5 {
            top: percent(396, 570);
            left: percent(261, 1440);
        }
        &_6 {
            top: percent(404, 570);
            left: percent(294, 1440);
        }
        &_7 {
            top: percent(38, 570);
            right: percent(201, 1440);
        }
        &_8 {
            top: percent(53, 570);
            right: percent(138, 1440);
        }
        &_9 {
            top: percent(86, 570);
            right: percent(138, 1440);
        }
        &_10 {
            bottom: percent(81, 570);
            right: percent(234, 1440);
        }
        &_11 {
            bottom: percent(39, 570);
            right: percent(258, 1440);
        }
        &_12 {
            bottom: percent(41, 570);
            right: percent(201, 1440);
        }
        &_13 {
            bottom: percent(108, 570);
            right: rem(-55);
        }
    }
}
//!==================================================//

//!==================================================//
.brands {
    @include adaptiveValue('padding-top', 60, 30);
    @include adaptiveValue('padding-bottom', 60, 30);
    &__container {
    }
    &__items {
        margin: 0 auto;
        text-align: center;
        max-width: rem(890);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(25);
        flex-wrap: wrap;
        @media (max-width: $mobile) {
            justify-content: center;
        }
    }
    &__item {
        img {
            max-width: 100%;
        }
    }
}
//!==================================================//

//!==================================================//
.app {
    overflow: hidden;
    position: relative;
    @include adaptiveValue('padding-top', 100, 30);
    @include adaptiveValue('padding-bottom', 170, 60);
    border-top: 1px solid #d8e3fe;
    background-color: $bgc;
    &__container {
        position: relative;
    }
    &__body {
        display: flex;
        column-gap: rem(100);
        row-gap: rem(20);
        justify-content: space-between;
        @media (max-width: em(970)) {
            align-items: center;
            flex-direction: column;
        }
    }
    &__content {
    }
    &__images {
    }
}
.content-app {
    align-self: start;
    @media (min-width: $mobile) {
        max-width: rem(410);
    }
    &__info {
        margin-top: rem(30);
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 25, 15);
        }
    }
    &__title {
        font-size: rem(36);
        line-height: math.div(45, 36);
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 25, 15);
        }
    }
    &__text {
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 45, 20);
        }
    }
    &__buttons {
    }
}
.buttons-app {
    display: flex;
    &__blue {
        display: flex;
        align-items: center;
        gap: rem(10);
        @media (max-width: $mobileSmall) {
            flex: 0 0 50%;
        }
    }
    &__grey {
        @media (max-width: $mobileSmall) {
            flex: 0 0 50%;
        }
    }
}
.images-app {
    &__items {
        position: relative;
    }
    &__item {
        img {
            box-shadow: 0px 20px 40px rgba(53, 60, 115, 0.15);
            border-radius: 15px;
        }
        &_01 {
            position: relative;
            top: 0;
            right: 0;
            @media (max-width: $mobile) {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &_02 {
            position: absolute;
            top: percent(100, 336);
            right: percent(513, 540);
            @media (max-width: $mobile) {
                bottom: percent(-37, 540);
                right: percent(394, 540);
                img {
                    height: 100%;
                }
            }
        }
        &_03 {
            position: absolute;
            top: percent(156, 336);
            right: percent(32, 540);
            img {
                height: 100%;
            }
            @media (max-width: $mobile) {
                bottom: percent(-60, 540);
                right: percent(16, 540);
                img {
                    height: 100%;
                }
            }
        }
    }
}
//!==================================================//

//!==================================================//
.about {
    @include adaptiveValue('padding-top', 160, 40);
    @include adaptiveValue('padding-bottom', 140, 40);
    border-top: 1px solid #d8e3fe;
    position: relative;
    overflow: hidden;
    &__container {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    &__info {
        z-index: 2;
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 20, 15);
        }
    }
    &__title {
        z-index: 2;
        font-size: rem(36);
        line-height: math.div(45, 36);
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 25, 15);
        }
    }
    &__title {
        margin: 0px 0px 90px 0px;
        font-weight: 500;
        font-size: rem(24);
        line-height: math.div(30, 24);
        color: $darkblue;
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 50, 30);
        }
    }
    &__columns {
        text-align: center;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(4, auto);
        row-gap: rem(40);
        column-gap: rem(20);
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 90, 50);
        }
        @media (max-width: em(650)) {
            gap: rem(30);
            grid-template-columns: repeat(2, auto);
        }
    }
    &__column {
    }
    &__buttons {
    }
    &__decor {
    }
}
.column-about {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(20);
    @media (min-width: em(650)) {
        &:not(:last-child) {
            &::after {
                content: '';
                top: 0;
                left: 0;
                @include adaptiveValue('min-width', 28, 20);
                height: 1px;
                background-color: #dae4fe;
            }
        }
    }
    @media (max-width: em(650)) {
        gap: rem(30);
        &:nth-child(odd) {
            &::after {
                content: '';
                top: 0;
                left: 0;
                @include adaptiveValue('min-width', 28, 20);
                height: 1px;
                background-color: #dae4fe;
            }
        }
    }
    &__content {
        display: grid;
        justify-items: center;
        text-align: center;
        max-width: rem(140);
    }
    &__icon {
        align-items: center;
        justify-content: center;
        display: flex;
        width: rem(69);
        height: rem(69);
        background-color: $bgc;
        border-radius: 50%;
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 30, 20);
        }
    }
    &__title {
        font-weight: 700;
        color: #4074f8;
        line-height: 1.5;
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 30, 20);
        }
    }
    &__text {
        font-family: $fontFamily;
        font-weight: 600;
        font-size: rem(11);
        line-height: math.div(19, 11);
        color: #adb3cb;
    }
    &__line {
    }
}
.buttons-about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(17);
    &__read {
        z-index: 2;
    }
    &__text {
        z-index: 2;
        @extend .column-about__text;
        display: flex;
        @include adaptiveValue('gap', 17, 10);
        align-items: center;
        justify-content: center;
        &::before,
        &::after {
            content: '';
            top: 0;
            left: 0;
            width: rem(15);
            height: 1px;
            background-color: #dae4fe;
        }
    }
    &__get {
        z-index: 2;
    }
}
.decor-about {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &__item {
        position: absolute;
        &_1 {
            top: percent(141, 885);
            left: percent(259, 1230);
        }
        &_2 {
            top: percent(143, 885);
            left: percent(225, 1230);
        }
        &_3 {
            bottom: percent(232, 885);
            left: percent(162, 1230);
        }
        &_4 {
            bottom: percent(213, 885);
            left: percent(126, 1230);
        }
        &_5 {
            bottom: percent(201, 885);
            left: percent(155, 1230);
        }
        &_6 {
            bottom: percent(213, 885);
            left: percent(209, 1230);
        }
        &_7 {
            top: percent(203, 885);
            right: percent(114, 1230);
        }
        &_8 {
            top: percent(223, 885);
            right: percent(194, 1230);
        }
        &_9 {
            top: percent(219, 885);
            right: percent(140, 1230);
        }
        &_10 {
            top: percent(240, 885);
            right: percent(114, 1230);
        }
    }
}
//!==================================================//

//!==================================================//
.users {
    &__container {
    }
    &__items {
        display: flex;
        justify-content: center;
    }
}
.item-customers {
    flex: 0 0 50%;
    background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
    &__container {
    }
    &__content {
        @include adaptiveValue('padding-top', 70, 30);
        @include adaptiveValue('padding-bottom', 70, 30);
        @include adaptiveValue('padding-right', 80, 10);
        display: flex;
        text-align: right;
        align-items: end;
        flex-direction: column;
    }
    &__image {
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 20, 15);
        }
    }
    &__percents {
        @include adaptiveValue('font-size', 48, 40);
        font-weight: 400;
        line-height: math.div(55, 45);
        letter-spacing: 0.03em;
        color: #fff;
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 20, 15);
        }
    }
    &__text {
        max-width: rem(260);
        font-weight: 500;
        font-size: rem(18);
        line-height: math.div(23, 18);
        letter-spacing: 0.03em;
        color: #fff;
    }
}
.item-users {
    flex: 0 0 50%;
    background: linear-gradient(101.48deg, #e9efff 41.56%, #e0e9ff 81.53%);
    &__container {
    }
    &__content {
        @include adaptiveValue('padding-top', 70, 30);
        @include adaptiveValue('padding-bottom', 70, 30);
        @include adaptiveValue('padding-left', 80, 10);
        display: flex;
        text-align: left;
        align-items: start;
        flex-direction: column;
    }
    &__image {
        @extend .item-customers__image;
    }
    &__number {
        @extend .item-customers__percents;
        color: #5e80ff;
    }
    &__text {
        @extend .item-customers__text;
        color: #5e80ff;
    }
}
//!==================================================//

//!==================================================//
.blog {
    background-color: $bgc;
    @include adaptiveValue('padding-top', 100, 30);
    @include adaptiveValue('padding-bottom', 100, 30);
    &__container {
        text-align: center;
    }
    &__info {
        margin-bottom: rem(20);
    }
    &__title {
        font-weight: 500;
        font-size: rem(24);
        line-height: math.div(30, 24);
        @include adaptiveValue('margin-bottom', 90, 30);
    }
    &__slider {
    }
    &__wrapper {
        @include adaptiveValue('margin-bottom', 110, 30);
    }
    &__slide {
    }
    &__controll {
    }
}
.slide-blog {
    display: flex;
    align-items: center;
    justify-content: center;
    &__body {
        @include adaptiveValue('padding-top', 60, 20);
        @include adaptiveValue('padding-bottom', 60, 20);
        @include adaptiveValue('padding-right', 40, 20);
        @include adaptiveValue('padding-left', 40, 20);
        background-color: #fff;
        display: flex;
        @include adaptiveValue('column-gap', 65, 20);
        @include adaptiveValue('row-gap', 40, 20);
        @media (max-width: $mobile) {
            flex-direction: column-reverse;
        }
    }
    &__images {
    }
    &__content {
    }
}
.images-blog {
    height: 100%;
    display: grid;
    gap: rem(12);
    grid-template-columns: minmax(rem(126), rem(266)) rem(126.8);
    grid-template-rows: repeat(2, rem(126.8));
    @media (max-width: $tablet) {
        justify-content: center;
    }
    &__item-ibg {
        border-radius: 5px;
        overflow: hidden;
        @media (any-hover: hover) {
            transition: all 0.3s ease 0s;
            &:hover {
                transform: scale(1.04);
            }
        }
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: transparent;
        }
    }
    &__item {
        &_1 {
            grid-row: span 2;
            position: relative;
            &::before {
                content: '';
                z-index: 20;
                position: absolute;
                background-image: url('../img/blog/loupe.svg') center no-repeat;
                top: 0;
                left: 0;
                width: 26px;
                height: 26px;
            }
            &::after {
                background-image: linear-gradient(
                    13.46deg,
                    rgba(255, 199, 53, 0.44) 1.89%,
                    rgba(255, 227, 154, 0.93) 1.9%,
                    rgba(255, 159, 90, 0) 68.24%
                );
            }
        }
        &_2 {
            &::after {
                background-image: linear-gradient(
                    27.48deg,
                    rgba(255, 53, 53, 0.48) 14.02%,
                    rgba(255, 179, 90, 0) 68%
                );
            }
        }
        &_3 {
            &::after {
                background-image: linear-gradient(
                    13.49deg,
                    rgba(53, 170, 255, 0.68) 11.59%,
                    rgba(90, 136, 255, 0) 96.88%
                );
            }
        }
    }
}
.content-slide-blog {
    text-align: left;
    max-width: rem(420);
    &__title {
        @include adaptiveValue('font-size', 36, 30);
        line-height: math.div(45, 36);
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 30, 15);
        }
    }
    &__text {
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 30, 15);
        }
    }
    &__buttons {
        display: flex;
        gap: rem(8);
        @media (max-width: $mobileSmall) {
            flex-direction: column;
        }
        &_1 {
            @media (max-width: $mobileSmall) {
                width: 100%;
            }
        }
        &_2 {
            color: #a6b6da;
            transition: color 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    color: $blue;
                }
            }
        }
    }
}
.controll-blog {
    &__dotts {
    }
    &__prev {
        &::after {
            content: '';
        }
    }
    &__next {
        &::after {
            content: '';
        }
    }
}
//!==================================================//

//!==================================================//
.testimonials {
    @include adaptiveValue('padding-top', 100, 30);
    @include adaptiveValue('padding-bottom', 100, 30);
    background: linear-gradient(180deg, #eaf0ff 0%, #f6f9ff 100%);
    border-top: 1px solid #d8e3fe;
    &__container {
    }
    &__body {
        display: flex;
        row-gap: rem(20);
        @include adaptiveValue('column-gap', 130, 30);
        @media (max-width: em(620)) {
            flex-wrap: wrap;
        }
    }
    &__content {
        @media (min-width: $mobile) {
            @include adaptiveValue('margin-left', 160, 30);
        }
    }
    &__slider {
        max-width: rem(420);
    }
    &__wrapper {
        @include adaptiveValue('margin-bottom', 90, 60);
    }
    &__slide {
    }
    &__controll {
    }
}
.content-testimonials {
    align-self: start;
    position: relative;
    display: grid;
    @include adaptiveValue('margin-top', 20, 0);
    &__info {
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 30, 10);
        }
    }
    &__title {
        font-weight: 500;
        @include adaptiveValue('font-size', 36, 30);
        line-height: math.div(45, 36);
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
        @media (min-width: $tablet) {
            white-space: nowrap;
        }
    }
    &__text {
        max-width: rem(340);
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }
}
.slide-testimonials {
    &__card {
        position: relative;
        @include adaptiveValue('padding-top', 45, 30);
        @include adaptiveValue('padding-bottom', 45, 30);
        @include adaptiveValue('padding-right', 70, 30);
        @include adaptiveValue('padding-left', 70, 30);
        background-color: #fff;
        border: 1px solid #d8e3fe;
        box-shadow: 0px 5px 50px #f3f5fa;
        align-items: start;
    }
    &__text {
        @media (min-width: $mobile) {
            max-width: rem(320);
        }
        line-height: math.div(24, 14);
        letter-spacing: 0.03em;
        color: #676f95;
    }
    &__photo {
        transform: translate(0, 50%);
        bottom: 0;
        left: percent(180, 420);
        position: absolute;
        z-index: 2;
        img {
            border-radius: 50%;
            width: rem(62);
            height: rem(62);
        }
    }
}
.controll-testimonials {
    &__dotts {
    }
}
//!==================================================//

//!==================================================//
.help {
    border-top: 1px solid #d8e3fe;
    @include adaptiveValue('padding-top', 160, 40);
    @include adaptiveValue('padding-bottom', 140, 40);
    &__container {
    }
    &__info {
        text-align: center;
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }
    &__title {
        text-align: center;
        font-weight: 500;
        font-size: rem(24);
        line-height: math.div(30, 24);
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 50, 20);
        }
    }
    &__spollers {
        margin: 0 auto;
        max-width: 740px;
    }
}
.spollers-help {
    &__item {
        @include adaptiveValue('padding-top', 30, 20);
        @include adaptiveValue('padding-bottom', 30, 20);
        border-bottom: 1px solid #d8e3fe;
    }
    &__title {
        text-align: left;
        margin-left: rem(25);
        display: flex;
        justify-content: center;
        gap: rem(25);
        font-weight: 500;
        font-size: rem(15);
        line-height: math.div(19, 15);
        letter-spacing: 0.03em;
        color: #8e96b7;
        transition: all 0.3s ease 0s;
        &::before {
            content: '';
            transition: all 0.3s ease 0s;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid #8e96b7;
            border-right: 2px solid #8e96b7;
            transform: rotate(45deg);
            left: 4px;
            top: 2px;
        }
        &._spoller-active {
            transition: all 0.3s ease 0s;
            font-weight: 700;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: 0.03em;
            color: #495274;
            &::before {
                border-bottom: 2px solid #495274;
                border-right: 2px solid #495274;
                transform: rotate(-135deg);
            }
        }
    }
    &__body {
    }
}
.body-spollers {
    padding-top: rem(20);
    @include adaptiveValue('padding-bottom', 25, 20);
    @include adaptiveValue('margin-left', 80, 20);
    margin-right: rem(15);
    &__body {
        gap: rem(10);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $mobileSmall) {
            flex-direction: column;
        }
    }
    &__text {
        max-width: rem(400);
    }
    &__link {
        background-color: #e8ecf4;
        border-radius: 2px;
        color: #7382a3;
        min-width: rem(195);
        @media (any-hover: hover) {
            &:hover {
                background-color: #d3d7df;
                color: #7784aa;
            }
        }
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}
//!==================================================//

//!==================================================//
.getstarted {
    overflow: hidden;
    position: relative;
    border-top: 1px solid #d8e3fe;
    @include adaptiveValue('padding-top', 100, 40);
    @include adaptiveValue('padding-bottom', 100, 40);
    background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
    &__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    &__info {
        z-index: 2;
        color: #fff;
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }
    &__title {
        z-index: 2;
        font-weight: 300;
        font-size: rem(48);
        line-height: math.div(60, 48);
        color: #fff;
        span {
            font-weight: 400;
        }
        &:not(:last-child) {
            margin-bottom: rem(25);
        }
    }
    &__text {
        z-index: 2;
        max-width: rem(660);
        color: #fff;
        &:not(:last-child) {
            margin-bottom: rem(25);
        }
    }
    &__buttons {
    }
    &__decor {
    }
}
.buttons-getstarted {
    z-index: 2;
    display: flex;
    @media (max-width: $mobileSmall) {
        flex-direction: column;
        width: 100%;
    }
    &__01 {
        background-color: #fff;
        color: #565f82;
        box-shadow: 0px 5px 15px #6480e8;
        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0px 10px 20px #385bda;
            }
        }
    }
    &__02 {
        min-width: rem(155);
        color: #c7d3ff;
        background-color: transparent;
        border: 1px solid #c7d3ff;
        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0px 10px 20px #385bda;
            }
        }
    }
}
.decor-getstarted {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &__item {
        position: absolute;
        &_1 {
            top: percent(72, 477);
            left: percent(63, 1440);
        }
        &_2 {
            top: percent(90, 477);
            left: percent(121, 1440);
        }
        &_3 {
            top: percent(147, 477);
            left: percent(54, 1440);
        }
        &_4 {
            bottom: percent(96, 477);
            left: percent(111, 1440);
        }
        &_5 {
            bottom: percent(56, 477);
            left: percent(162, 1440);
        }
        &_6 {
            top: percent(192, 477);
            right: percent(242, 1440);
        }
        &_7 {
            top: percent(252, 477);
            right: percent(350, 1440);
        }
        &_8 {
            bottom: percent(69, 477);
            right: percent(104, 1440);
        }
        &_9 {
            bottom: percent(89, 477);
            right: percent(114, 1440);
        }
    }
}
//!==================================================//

//!==================================================//
.newsletter {
    border-top: 1px solid #d8e3fe;
    @include adaptiveValue('padding-top', 120, 40);
    @include adaptiveValue('padding-bottom', 120, 40);
    &__container {
    }
    &__body {
        display: flex;
        row-gap: rem(20);
        @include adaptiveValue('column-gap', 80, 0);
        @media (min-width: $mobile) {
            align-items: center;
            justify-content: center;
        }
        @media (max-width: $mobileSmall) {
            flex-direction: column;
        }
    }
    &__content {
    }
    &__title {
        font-weight: 700;
        font-size: rem(18);
        line-height: math.div(22, 18);
        color: $darkblue;
        &:not(:last-child) {
            margin-bottom: em(20, 18);
        }
    }
    &__text {
        max-width: rem(330);
        line-height: math.div(27, 14);
        color: #8d96bd;
    }
    &__form {
        @media (max-width: em(570)) {
            width: 100%;
        }
    }
}
//!==================================================//
