@import './base/null.scss';
//! <Подключение шрифтов>
// &display=swap
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,500,600,700&display=swap');
@import './base/fonts.scss';
//! </Подключение шрифтов>

//! <Иконочные шрифты>
//! </Иконочные шрифты>

//! <Переменные>
@import './base/variables.scss';
//! </Переменные>

//! <Обнуление, сетка, параметры>
body {
    color: #000;
    font-size: 14px;
    font-family: $fontFamily;
    &._lock{
        overflow: hidden;
    }
}
//! </Обнуление, сетка, параметры>

//! <Основная сетка>
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    padding: 0 10px;
    max-width: $maxWidthContainer;
    margin: 0 auto;
    @media (max-width: $md1) {
    }
    @media (max-width: $md2) {
    }
    @media (max-width: $md3) {
    }
}
.page{
    flex: 1 1 auto;
}
//! </Основная сетка>

//! <Подключение блоков>
@import './base/ui.scss';
@import './base/swiper.scss';
@import './blocks/header.scss';
@import './blocks/plan.scss';
@import './blocks/sponsors.scss';
@import './blocks/app.scss';
@import './blocks/about.scss';
@import './blocks/users.scss';
@import './blocks/blog.scss';
@import './blocks/testimonials.scss';
@import './blocks/help.scss';
@import './blocks/getstarted.scss';
@import './blocks/newsletter.scss';
@import './blocks/footer.scss';
//! </Подключение блоков>